body {
  background-color: black;
  background-image: url('./images/red_green_yello_splash.jpg');
  background-size: 600px 600px;
  background-position: right bottom;
  background-repeat: no-repeat;
}

h2 {
  color: green;
}

#main {
  margin-top: 6em;
}

#content {
  margin-top: 3em;
}

.button {
  padding: 1px;
}

.ui.centered.card {
  background-color: black;
  box-shadow: none;
}

.ui.form .field > label {
  color: green;
}

.ui.card > .content > .header{
  color: white;
}

.ui.card > .content > .meta {
  color: white;
}

.edit {
  color: yellow;
}

.trash {
  color: red;
}

.plus {
  opacity: .00;
}